body{
    background-color: ivory;
}
#navvie-seethrough {
    width: 100%;
    height: 60px; 
    /* background-color: lightblue; */
    border-top: solid 1px rgb(59,59,59);
    border-bottom:solid 1px rgb(59,59,59);
    
    background-color: rgba(255, 255, 255, 0.7)
  }
    nav a {
      display: block; 
    float: right;
/*We're just setting up fonts settings here*/
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 13px;
    color:rgb(59, 59, 59);
    
   /*Padding Our Box*/
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-decoration: none;
   }
    nav a:hover {
        text-decoration-line: underline;
        
 
    }
    #logo {
        float: left;
        font-size:30px;
        letter-spacing: -2px;
        text-shadow: 1px 1px 2px #c4c4c4;
        text-decoration: none;
    /*box*/
        padding-left: 20px;
        padding-right: 40px;
        margin-right: 10px;
        margin-top: -20px;
    }
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s, transform 0.25s;
}
.modal-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button{
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius:  50%;/*trying to make it a circle reg: 0.25 rem*/
    background-color: lightgray;
}
.close-button:hover{
    background-color: darkgray;
}

.show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: viability 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}